.product{
    display: flex;
    border-bottom: 1px solid lightgray;
    text-align: center;
    padding: 20px;
}
.product-name{
    text-align: left;
    color: blue;
    font-weight: 400;
}
.product-Details{
    padding-left: 5px;
}
.description{
    display: flex;
}
.btn{
    color: #111;
    border-style: solid;
    border-width: 1px;
    cursor: pointer;
    border-radius: 3px;
    vertical-align: middle;
}